html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.container {
   min-height:100%;
   position:relative;
}
header {
   background-color: #096b8c;
   color: white;
   padding-top: 2%;
   padding-bottom: 2%;
   text-align: center;
}
body {
   padding-bottom:3%;   /* Height of the footer */
   background-color: #eaf4f7;
}
footer {
   text-align: center;
   position:fixed;
   background-color: #096b8c;
   color: white;
   bottom:0;
   width:100%;
   font-size: 2em;
   height:3%;   /* Height of the footer */
   padding-top: 2%;
   padding-bottom: 1%;
}

#content-container {
	max-width: 80%;
	min-width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
}

#content-container button {
	margin-right: 1em;
	font-size: 2em;
}

#left-container {
	width: 60%;
	max-width: 60%;
	height: 20em;
	border: 1px solid;
	padding: 1em 1em 1em 1em;
	font-size: 1.6em;
	float: left;
	position: relative;
}

#left-container label {
	display: block;
}

#built-quiz-container label {
	display: block;
}
#built-quiz-container{
	width: 25%;
	max-width: 25%;
	height: 20em;
	font-size: 1.6em;
	border: 1px solid;
	padding: 1em 1em 1em 1em;
	float: right;
	position: relative;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input {
	width: 70%;
	font-size: 1em;
}

#answer {
	font-size: 0.8em;
	width: 10%;
}

#front-page-button {
	margin-bottom: 1em;
}

#quiz-taking-button {
	position: absolute;
	margin-bottom: 1em;
	bottom: 0;
	font-size: 0.6em;
}

.quiz-building-button {
	position: absolute;
	margin-bottom: 1em;
	bottom: 0;
	font-size: 0.6em;
}
